<app-page-header>{{ title }}</app-page-header>

<div class="content">
  <div class="header">
    <app-creator-input
    placeholder="{{ inputTitle}}..."
    [isTitle]="true"/>
    <app-creator-input
      placeholder="Description..."
      [isTextArea]="true"/>
  </div>
  <div class="groups-selector">
    <ng-content></ng-content>
  </div>
  <div class="footer">
    <app-button type="no-border">Cancel</app-button>
    <app-button type="primary" class="action">Create</app-button>
  </div>
</div>

