<app-page-header [pageTitle]="title"></app-page-header>

<div class="content">
  <div class="header">
    <app-creator-input
      id="titleInput"
      placeholder="{{ inputTitle }}..."
      (valueChanged)="onTitleChanged($event)"
      [isTitle]="true"
      [value]="this.state.getFormValues().title!"
    />
    <app-creator-input
      id="descriptionInput"
      placeholder="Description..."
      (valueChanged)="onDescriptionChanged($event)"
      [isTextArea]="true"
      [value]="this.state.getFormValues().description!"
    />
  </div>
  <div class="page-content">
    <ng-content></ng-content>
  </div>
  <div class="footer">
    <app-button type="no-border" (onClicked)="onCancelClicked()"> Cancel </app-button>
    <app-button
      id="actionButton"
      type="primary"
      class="action"
      (onClicked)="triggerPageAction()"
      [disabled]="!createEnabled && !this.state.updateState.isUpdate"
    >
      {{ this.state.updateState.isUpdate ? 'Update' : 'Create' }}
    </app-button>
  </div>
</div>
