<div class="profile">
  <img *ngIf="pictureUrl" [src]="pictureUrl" alt="profile picture">
  <div *ngIf="!pictureUrl" class="picturePlaceholder"></div>
  <p class="email">{{ userEmail }}</p>
</div>
<div class="menu">
  <a class="item selected" title="Option still unavailable">
    <span class="material-icons">insights</span>
    <span>Dashboard</span>
  </a>
  <!-- TODO: Implement movements library -->
  <a class="item" title="Option still unavailable">
    <span class="material-icons">sports_gymnastics</span>
    <span>Movements</span>
  </a>
  <!-- TODO: Implement templates library -->
  <a class="item" title="Option still unavailable">
    <span class="material-icons">event_busy</span>
    <span>Templates</span>
  </a>
  <!-- TODO: Implement groups library -->
  <a class="item" title="Option still unavailable">
    <span class="material-icons">accessibility_new</span>
    <span>Muscle Groups</span>
  </a>
  <!-- TODO: Implement training journal -->
  <a class="item" title="Option still unavailable">
    <span class="material-icons">fitness_center</span>
    <span>Training Journal</span>
  </a>
  <mat-divider></mat-divider>
  <!-- TODO: Implement app settings -->
  <a class="item" title="Option still unavailable">
    <span class="material-icons">settings</span>
    <span>Settings</span>
  </a>
  <a class="item danger" (click)="handleLogout()">
    <span class="material-icons">logout</span>
    <span>Logout</span>
  </a>
</div>
