@use '../../.../../../styles'

.options
  @include styles.flex($direction: row)
  gap: 1em
  padding: 1em
  justify-items: stretch

  app-search-bar
    flex-grow: 1

.empty-list
  padding: 3em
  @include styles.flex($direction: column)
  align-items: center

  *
    color: styles.$dark-gray

  span
    font-size: 5rem
