<div class="options">
  <app-search-bar (queryChanged)="handleQueryChange($event)"></app-search-bar>

  <!-- <div class="sort-button">
    <span class="material-icons">sort</span>
    <div class="button-text">
      <p>Sort by</p>
      <p class="selected-option">Muscle Groups</p>
    </div>
  </div> -->

</div>

<!--  -->
<div class="empty-list" *ngIf="filteredGroups.length === 0 else groupsList">
  <span class="material-icons">playlist_remove</span>
  <p>Your movements list is empty!</p>
</div>

<ng-template #groupsList>
  <!--  -->
  <app-movements-picker-group-item *ngFor="let group of filteredGroups" [group]="group">
  </app-movements-picker-group-item>
</ng-template>
