<ng-container *ngIf="selectedItem$ | async as selectedItem">
  <h1 class="page-title">Start Workout Session</h1>

  <div class="content">
    <section class="start-from from-template">
      <p class="title">Start from template</p>
      <app-search-bar #templateSearchBar></app-search-bar>
      <div
        class="templates-container"
        *ngIf="filteredTemplates$ | async as templates; else loadingTemplates"
      >
        <ng-template #noTemplates>
          <div class="templates-list-empty">
            <span class="material-icons">playlist_remove</span>
            <p>No templates!</p>
          </div>
        </ng-template>
        <div class="templates-list" *ngIf="templates.length > 0; else noTemplates">
          <div
            class="template-item"
            *ngFor="let template of templates"
            (click)="templateClicked.emit(template.id)"
            [ngClass]="{
              selected: selectedItem.type === 'template' && selectedItem.template_id === template.id
            }"
          >
            <div class="header">
              <span class="name">{{ template.name }} </span>
              <a class="open" [routerLink]="'/templates/update/' + template.id">
                <span class="material-icons">open_in_new</span>
              </a>
              <div class="last-trained">
                <span>last trained</span>
                <span class="date">03-feb-2023</span>
              </div>
            </div>
            <div class="template-content">
              <span class="description">
                {{ template.description ?? 'No description provided' }}
              </span>
              <ul class="movements-list">
                <li *ngFor="let mov of template.movements">{{ mov.movement?.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="start-from from-movement">
      <p class="title">Start from movement</p>
      <div
        class="movement-picker"
        (click)="openMovementsPicker()"
        [ngClass]="{
          selected: selectedItem.type === 'movement'
        }"
      >
        <span class="material-icons">sports_gymnastics</span>
        <span class="label">{{
          selectedItem.type === 'movement' ? 'Starting movement' : 'Pick a movement...'
        }}</span>
        <span class="movement" *ngIf="selectedItem.type === 'movement'">{{
          selectedItem.movement.name
        }}</span>
      </div>
    </section>
  </div>

  <div class="options">
    <app-button type="primary" icon="play_arrow" [disabled]="selectedItem.type === 'none'"
      >Start Workout</app-button
    >
    <a routerLink="/dashboard">Go back</a>
  </div>
</ng-container>

<!-- Placeholders -->
<ng-template #loadingTemplates>
  <div class="templates-container">
    <div class="templates-list">
      <div class="template-item" *ngFor="let template of [1, 2, 3, 4, 5, 6]">
        <div class="header">
          <app-content-loader class="name"></app-content-loader>
          <div class="last-trained">
            <span>last trained</span>
            <app-content-loader class="date" [fontSize]="0.5"></app-content-loader>
          </div>
        </div>
        <div class="template-content">
          <app-content-loader class="description" [lineCount]="1"> </app-content-loader>
          <ul class="movements-list">
            <li>
              <app-content-loader></app-content-loader>
            </li>
            <li>
              <app-content-loader></app-content-loader>
            </li>
            <li>
              <app-content-loader></app-content-loader>
            </li>
            <li>
              <app-content-loader></app-content-loader>
            </li>
            <li>
              <app-content-loader></app-content-loader>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
