@use '../../../styles'

:host
  display: grid
  grid-template-areas: "page-title" "content" "options"
  grid-template-rows: max-content 1fr max-content
  height: 100vh
  box-sizing: border-box
  gap: 1em

  >.page-title
    grid-area: page-title
    font-weight: normal
    font-size: 2rem
    text-align: center
    padding: 2em 1em 0 1em

  >.content
    @include styles.flex(column)
    gap: 2em
    align-items: stretch
    justify-content: center
    grid-area: content

    section
      @include styles.flex(column)
      gap: .5em
      align-items: stretch

      @include styles.isLarge
        >*
          align-self: center
          min-width: 25em

          @include styles.isXL
            min-width: 45em

      &:not(.from-template)
        padding: 0 2em

      .title
        text-align: center

    .from-template
      >:not(.templates-container)
        margin: 0 2em

      .templates-container
        @include styles.flex(column)
        width: 100vw
        box-sizing: border-box
        overflow-x: scroll
        padding: 2em

        .templates-list-empty
          @include styles.flex(column)
          align-items: center

          *
            color: styles.$dark-gray

          span
            font-size: 5rem

        .templates-list
          display: flex
          gap: 1em
          margin: 0 auto

          .template-item
            @include styles.shadow
            @include styles.transition
            @include styles.no-selection
            flex: 0 0 auto
            border-radius: .25em
            overflow: hidden
            cursor: pointer
            width: 18em
            align-self: start

            &:hover
              background-color: styles.$lighter-gray

            &.selected .header
              background-color: styles.$primary-color

            .header
              @include styles.flex(row)
              align-items: center
              padding: .5em 1em
              background: styles.$dark-gray
              gap: .5em

              *
                color: white

              .name
                font-weight: bold
                font-size: 1.1rem

              .last-trained
                @include styles.flex(column)

                span
                  text-align: center
                  font-size: .8rem

              .open
                flex-grow: 1
                align-self: center
                span
                  font-size: 1rem

            .template-content
              @include styles.flex(column)
              padding: .5em 1em
              gap: 1em

              .description
                @include styles.line-clamp(3)

                color: styles.$dark-gray

              .movements-list
                padding: 0 1em

                .extra
                  color: styles.$dark-gray

    .from-movement
      .movement-picker
        @include styles.shadow
        @include styles.transition
        @include styles.no-selection
        padding: .75em
        column-gap: 1em
        row-gap: 0
        display: grid
        border-radius: .25em
        grid-template-columns: max-content 1fr
        grid-row: max-content max-content
        align-items: center
        cursor: pointer

        &.selected
          background-color: styles.$primary-color

          *
            color: styles.$white

          &:hover
            background-color: styles.$primary-light-color

          :first-child
            grid-row: span 2

          .label
            // font-size: 0.8rem
            font-weight: bold

        &:hover
          background-color: styles.$lighter-gray

  >.options
    @include styles.flex(column)
    padding: 0 1em 2em 1em
    gap: 1em
    align-items: center
    grid-area: options

    a
      color: styles.$dark-gray
      text-decoration: underline
      cursor: pointer
