<app-page-header>{{ movement.name }}</app-page-header>

<div class="page-content">
  <ng-container *ngTemplateOutlet="isLoading || monthlyJournals.length > 0 ? data : noData"></ng-container>
</div>

<ng-template #data>
  <ng-container *ngTemplateOutlet="isLoading ? loadingData : loadedData"></ng-container>

  <ng-template #loadingData>
    <div class="month">
      <app-content-loader [displayIf]="false" [fontSize]="2"></app-content-loader>
      <div class="calendar"></div>
      <div class="entries">
        <app-content-loader [displayIf]="false" [lineCount]="10" [isSecondary]="true"></app-content-loader>
      </div>
    </div>
  </ng-template>

  <ng-template #loadedData>
    <div class="month" *ngFor="let month of monthlyJournals">
      <p class="month-title">{{ getMonthFormat(month) }}</p>
      <app-calendar class="calendar" [initialMonthTime]="month.monthTime" [highlightedDays]="getDayNumbers(month)"></app-calendar>
      <div class="entries">
        <app-movement-journal-entry
          *ngFor="let entry of month.entries"
          [entry]="entry"/>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #noData>
  <div class="empty">
    <span class="material-symbols-outlined">report</span>
    <p><b>No data was found for this movement!</b></p>
    <p>Start training this movement to start seeing your progress here!</p>
  </div>
</ng-template>

