@use '/src/styles'

:host
  @include styles.flex(columns)

  input, textarea
    all: unset
    // font-size: 1.25rem
    width: 100%
    max-width: 100%
    min-width: 100%

  .title
    font-size: 2rem
