<ng-container
  *ngTemplateOutlet="state.isHrefDisabledSubject ? divContainer : hrefContainer"
></ng-container>

<ng-template #hrefContainer>
  <a class="item" href="movements/{{ movement.id }}">
    <ng-container *ngTemplateOutlet="componentContent"></ng-container>
  </a>
</ng-template>

<ng-template #divContainer>
  <div class="item" (click)="handleMovementSelected()">
    <ng-container *ngTemplateOutlet="componentContent"></ng-container>
  </div>
</ng-template>

<ng-template #componentContent>
  <p class="name">{{ movement.name }}</p>
  <p class="description">{{ movement.description }}</p>
  <div class="groups">
    <span
      class="group-chip"
      [ngClass]="{ primary: movement.primary_group_id === ofGroup.id }"
      *ngFor="let ofGroup of movement.groups"
      >{{ ofGroup.name }}</span
    >
  </div>
</ng-template>
