<app-weightlifting-timer #timer></app-weightlifting-timer>

<ng-container *ngIf="vm$ | async as vm">
  <div [ngSwitch]="vm.weightliftingState.state">
    <ng-container *ngSwitchCase="'working-out'">
      <ng-container *ngTemplateOutlet="workingOut"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'picking-movement'">
      <ng-container *ngTemplateOutlet="pickingMovement"></ng-container>
    </ng-container>
  </div>

  <div class="toggles">
    <mat-accordion>
      <ng-container
        *ngIf="vm.weightliftingState.state === 'picking-movement'; else movementToggles"
      >
        <mat-expansion-panel id="previous-session-notes">
          <mat-expansion-panel-header>
            <mat-panel-title>Previous sessions notes</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Previous session toggle content</p>
        </mat-expansion-panel>
      </ng-container>

      <ng-template #movementToggles>
        <mat-expansion-panel id="last-session-toggle">
          <mat-expansion-panel-header>
            <mat-panel-title>Last Session</mat-panel-title>
          </mat-expansion-panel-header>
          <app-movement-journal-entry
            *ngIf="vm.journal; else noJournalMessage"
            [entry]="vm.journal.lastSession"
          >
          </app-movement-journal-entry>
        </mat-expansion-panel>

        <mat-expansion-panel id="best-session-toggle">
          <mat-expansion-panel-header>
            <mat-panel-title>Best Session</mat-panel-title>
          </mat-expansion-panel-header>
          <app-movement-journal-entry
            *ngIf="vm.journal; else noJournalMessage"
            [entry]="vm.journal.bestSession"
          >
          </app-movement-journal-entry>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="vm.notes && vm.notes.currentNote">
          <mat-expansion-panel-header>
            <mat-panel-title>Movement notes</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="notes-showcase">
            <p class="note-content">
              {{ vm.notes.currentNote.notes }}
            </p>
            <div class="date-container">
              <span
                class="material-icons arrow prev"
                (click)="prevNoteEvent.emit()"
                [ngClass]="{ disabled: vm.notes.noteIdx === vm.notes.list!.length - 1 }"
              >
                chevron_left
              </span>
              <p class="note-date">
                {{ vm.notes.currentNote.date | date : 'MMM dd, YYYY @ hh:mma' }}
              </p>
              <span
                class="material-icons arrow next"
                (click)="nextNoteEvent.emit()"
                [ngClass]="{ disabled: vm.notes.noteIdx === 0 }"
              >
                navigate_next
              </span>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- No MovementJournal for movement placeholder message -->
        <ng-template #noJournalMessage>
          <p class="message">You haven't trained this movement yet!</p>
        </ng-template>
      </ng-template>
    </mat-accordion>
  </div>

  <ng-template #pickingMovement>
    <div class="movement-picker">
      <div class="current-template" *ngIf="vm.template">
        <p>Current template</p>
        <p class="template-name">{{ vm.template.name }}</p>
      </div>
      <div class="movements-list">
        <div
          class="movement-item"
          *ngFor="let movement of vm.movements"
          (click)="movementPickedEvent$.emit(movement)"
          [ngClass]="{ done: vm.movementsInSets.includes(movement.id) }"
        >
          <span class="material-icons pick-button">play_arrow</span>
          <span class="movement-name">{{ movement.name }}</span>
          <span class="movement-groups">{{
            movementsService.getGroupNames(movement).join(', ')
          }}</span>
        </div>
      </div>
      <div class="options">
        <app-button icon="add" type="no-border">Add another movement</app-button>
      </div>
    </div>
  </ng-template>

  <ng-template #workingOut>
    <div class="current-movement-container" *ngIf="vm.weightliftingState.state == 'working-out'">
      <div class="current-movement-showcase">
        <p>Current movement</p>
        <p class="movement-name">{{ vm.weightliftingState.currentMovement.name }}</p>
      </div>
      <div class="sets-container">
        <div class="set" *ngFor="let set of vm.sets">
          <div class="rep">
            <span
              class="material-icons rep-button remove"
              (click)="repsToEvent$.emit({ set: set, delta: -1 })"
              (dblclick)="repsToEvent$.emit({ set: set, delta: -5 })"
              >remove</span
            >
            <span class="reps-count">{{ set.reps }}</span>
            <span class="reps-label">reps</span>
            <span
              class="material-icons rep-button add"
              (click)="repsToEvent$.emit({ set: set, delta: 1 })"
              (dblclick)="repsToEvent$.emit({ set: set, delta: 5 })"
              >add</span
            >
          </div>
          <div class="weight">
            <input
              [value]="set.weight"
              type="number"
              (change)="setWeightToSetEvent$.emit({ set: set, weight: $event })"
            />
            <span class="weight-label">kg</span>
          </div>
        </div>
      </div>
      <div class="options">
        <app-button
          id="addSeriesBtn"
          icon="add"
          type="no-border"
          (onClicked)="addSetEvent$.emit(vm.weightliftingState.currentMovement)"
        >
          Add series
        </app-button>
        <app-button
          id="nextMovementBtn"
          icon="skip_next"
          type="no-border"
          (onClicked)="pickMovementEvent$.emit()"
        >
          Next movement
        </app-button>
      </div>
    </div>
  </ng-template>
</ng-container>
