<app-drawer-page>
  <div class="page-content">
    <app-menu-button text="Add weighting data" icon="monitor_weight" href="/add-weighting" />

    <app-menu-button text="Start working out" icon="fitness_center" href="/start-workout" />
  </div>

  <div class="highlights" slot="appbar-content">
    <div class="graphs">
      <div class="item">
        <h3>Weight Progress</h3>
        <div class="graph"></div>
      </div>
      <div class="item">
        <h3>Fat % Progress</h3>
        <div class="graph"></div>
      </div>
      <div class="item">
        <h3>Muscle Mass Progress</h3>
        <div class="graph"></div>
      </div>
    </div>
    <p class="view-all-data">View all data ></p>
  </div>
</app-drawer-page>
