@use '../../../styles'

:host
  @include styles.flex(column)
  @include styles.no-selection
  gap: .5em

  .info
    @include styles.flex(column)
    gap: .5em

    .secondary
      color: styles.$dark-gray
      font-size: .80em

  .container
    border: 1px solid styles.$light-gray
    border-radius: .5em
    overflow: hidden
    background: styles.$white

    .emptyMsg
      padding: 5em 2em
      @include styles.flex(column)

      *
        text-align: center
        color: styles.$dark-gray

      span
        font-size: 3rem
