<app-page-header>Add Weightscale Data</app-page-header>
<form action="" class="content">
  <div class="inputs">
    <app-weightscale-data-input>Weight (kg)</app-weightscale-data-input>
    <app-weightscale-data-input>Fat (%)</app-weightscale-data-input>
    <app-weightscale-data-input>Muscle Mass (kg)</app-weightscale-data-input>
    <app-weightscale-data-input>Protein (%)</app-weightscale-data-input>
    <app-weightscale-data-input>Metabolism (kcal)</app-weightscale-data-input>
    <app-weightscale-data-input>Visceral Fat</app-weightscale-data-input>
  </div>
  <app-button type="primary">
    Submit
  </app-button>
</form>
