<app-page-header>Add Weightscale Data</app-page-header>
<form class="content" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'weight')" data="weight">Weight (kg)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'fat')" data="fat">Fat (%)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'muscleMass')" data="muscleMass">Muscle Mass (kg)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'water')" data="water">Water (%)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'protein')" data="protein">Protein (%)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'metabolism')" data="metabolism">Metabolism (kcal)</app-weightscale-data-input>
    <app-weightscale-data-input (dataChanged)="onDataChanged($event, 'visceralFat')" data="visceralFat">Visceral Fat</app-weightscale-data-input>
  </div>
  <div class="options">
    <app-button type="no-border" [isSubmitButton]="true" icon="today">
      Add a date
    </app-button>
    <app-button type="primary" [isSubmitButton]="true">
      Submit
    </app-button>
  </div>
</form>
